html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 100px; 
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("assets/images/blue-snow.png");
    background-repeat: repeat;
  }
  nav {
    background-color: #fce4ec;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color: #fce4ec;
  }
  
  